.translation_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    flex-direction: row;
    align-items: flex-end;
  }
}

.translation {
  width: 90%;
  max-width: 500px;
  height: 100%;
  margin: 2rem 0;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-transform: capitalize;

    h2 {
      font-size: 1.25rem;
      color: $color-blue-dark;
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;

      .btn-add {
        left: -40px;
        position: absolute;
      }

      input[type="radio"] {
        accent-color: $color-blue-dark;
      }

      input[type="text"] {
        width: 60px;
        outline: none;
        border: 1px solid black;
        padding: 0 5px;
        position: relative;

        &.error {
          border: 1px solid $color-red;
        }
      }

      input[type="text"] + span {
        position: absolute;
        top: 42px;
        color: $color-red;
        font-size: 12px;
      }
    }
  }

  &__body {
    height: $card-height;
    margin-top: 2rem;
    padding: 1rem;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    &-missing-key {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba($color:  $color-white, $alpha: 0.4);
      margin-top: 5px;
      padding: 3px 1rem 3px 0;

      span, button {
        opacity: 0.7
      }
    }

    &.p-0 {
      padding: 0;
    }

    &.error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-size: 1.25rem;
      font-weight: 700;
      color: $color-blue-dark;

      svg {
        width: 52px;
        height: 52px;
        fill: $color-blue-dark;
      }
    }

    span {
      display: block;
      font-weight: 500;
      padding: 3px;
    }

    .changes {
      color: $color-black;
      display: flex;
      margin-top: 0.3rem;

      &-removed {
        background-color: $color-red;
      }
      &-modify {
        background-color: $color-blue;
      }
      &-add {
        background-color: $color-green;
      }

      input {
        background-color: transparent;
        width: 100%;
        font-weight: 500;
        padding: 3px;
        outline: none;
        border: 0;
      }
    }
  }

  &:first-child &__body {
    border-bottom: 2px solid $color-blue-dark;

    @include desktop {
      border-bottom: 0;
      border-right: 2px solid $color-blue-dark;
    }
  }
}

.toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: $color-blue-dark;
      }

      &:checked + .slider:before {
        -webkit-transform: translateX(19px);
        -ms-transform: translateX(19px);
        transform: translateX(19px);
      }

      &:focus + .slider {
        box-shadow: 0 0 1px $color-blue-dark;
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      bottom: 1px;
      background-color: $color-white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &.round {
      border-radius: 34px;
    }

    &.round:before {
      border-radius: 50%;
    }
  }
}
