@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

$color-blue-dark: #02072F;
$color-blue: #060F4F;
$color-blue-light: #006BEA;
$color-white: #FFF;
$color-green: #55A362;

body {
  background-color: $color-blue-dark;
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include desktop {
    margin: 0 auto;
  }
}

.translate_zone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;

  @include desktop {
    flex-direction: row;
  }
  
  .file-input {
    width: 90%;
    max-width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;


    &:first-child {
      border-bottom: 2px solid $color-blue;

      @include desktop {
        border-bottom: 0;
        border-right: 2px solid $color-blue;
      }
    }

    &__input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      & + label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-white;
        cursor: pointer; 

        svg {
          width: 52px;
          height: 52px;
          fill: $color-blue-light;
        }
      }

      &:focus + label, & + label:hover { opacity: 0.8; }
    }

  }
}

.translate {
  width: 90%;
  max-width: 500px;
  height: 400px;
  padding: 1rem;
  overflow: hidden;
  overflow-y: auto;

  &:first-child {
    border-bottom: 2px solid $color-blue;

    @include desktop {
      border-bottom: 0;
      border-right: 2px solid $color-blue;
    }
  }

  span {
    display: block;
    color: $color-white;
    margin-top: 0.3rem;
  }

}

.btn {
  font-size: 1.05em;
  padding: 0.75rem 1.25rem;
  background-color: $color-blue-light;
  border: none;
  outline: none;
  color: $color-white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: -2px 4px 23px -1px rgba(0,0,0,0.6);

  &:hover {
    opacity: 0.9;
  }
}

.changes-modify { background-color: $color-blue-light; }
.changes-add { background-color: $color-green; }